.secend-button {
  background-color: rgb(52, 152, 219);
  padding: 8px 40px;
  border-radius: 5px;
}
.frist-button {
  background-color: #3498db;
  padding: 8px 25px;
  border-radius: 5px;
}
.card-design {
  background-color: #00cec9;
}

.notify-section {
  display: none;
}
